Flask==3.0.3
Flask-Cors==4.0.1

librosa==0.11.0
soundfile==0.12.1

numpy==1.26.4
scipy==1.13.1

numba==0.61.2
llvmlite==0.44.0

scikit-learn==1.9.1
joblib==1.4.2

gunicorn==22.0.0
psycopg2-binary==2.9.9
